<footer id="store-footer" class="visible-md visible-lg">
    <nav class="navbar navbar-inverse" role="navigation">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="#">Show me more</a></li>

                    <li><a href="#">Names</a></li>

                    <li><a href="#">Places</a></li>

                    <li><a href="#">Professions</a></li>

                    <li><a href="#">Sports</a></li>

                    <li><a href="#">Movies, Books etc.</a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div>
    </nav>
</footer><!-- /.container-fluid -->