<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 3.2//EN">

<html>
<head>
    <title></title>
</head>

<body>
    This is  properties
    <%= name %>
    <ul>
      <% for(var i=0; i<designs.length; i++) {%>
          <li><%= designs[i] %></li>
          <% } %>
</ul>
</ul>
</body>
</html>
