<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">

<html>
<head>
    <title></title>
    <link href="/css/style.css" rel="stylesheet" type="text/css">
</head>

<body>
    	
        
       
<ul>
      <% for(var i=0; i<designs.length; i++) {%>
          <li><%= designs[i] %></li>
          <% } %>


    <div class="" style="width:500px; margin: 0 auto;">
        <a href="/logout" class="signin-facebook" title="authenticate with Facebook">Log out</a>
    </div>
</body>
</html>
