<%= include header %>
<style>
body{
  background-color: #000;
  margin-top: 50px;
  background-image: url('img/home-bg.jpg');
  background-repeat:no-repeat;
  background-position:center;
}
.home-brand
{
  height: 100px;
  margin: 0 auto;
    
  border-bottom: 2px solid #fff;

}
.home-actions-wrapper 
{
  background-color:#fff;
  color:black;
  padding:10px;
}
.home-brand-secondary
{
}
</style>
        
        
        <!--
a(href="" title="authenticate") Log in with facebook.
        - var url = req.user ? "/users/"+req.user.username : "/"
        a(href=url) Profile
        a(href="/logout") Log out
-->

  <div class="row-fluid">
        <div class="col-md-6 col-md-offset-3" style="padding-bottom:40px;border-bottom:1px solid white;">
          <div class="home-brand col-md-12"></div>
          <div class="clearfix"></div>
          <div class="home-brand-secondary">"T-shirts made just for you"</div>
          
          <div class="home-actions-wrapper">
          <div class="col-md-12" style="margin: 20px auto;text-align:center;">
            <a href="/auth/facebook" class="signin-facebook" title="authenticate with Facebook">Log in with <strong>Facebook</strong></a>
        </div>
        
        <div class="col-md-12" style="padding:10px 0; text-align:center;">
            <div class="col-md-4">        
              <strong style="font-size:14px;"><em>View a sample store:</em></strong>
            </div>
            <div class="col-md-4">
                <a href="./example/paul/?view=store">
                  <span class="glyphicon glyphicon-user"></span> Sign in as Paul</a>
            </div> <!-- example paul -->

            <div class="col-md-4">
                <a href="./example/jessica/?view=store">
                  <span class="glyphicon glyphicon-user" style="color:pink"></span> Sign in as Jessica</a>
            </div> <!-- example jessica -->
        </div>
            <div class="clearfix"></div>
          </div><!-- home actions wrapper
        </div> <!-- home brand and actions container -->
    </div> <!-- contianer -->
  </div>
    <%= include footer %>