<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">

<html>
<head>
    <title>Auteematic</title><!-- Just for testing purposes -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" type="text/css">
</head>

<body>

<div class="container-fluid">
	<a href="./auth/facebook/" class="">Log in with Facebook</div>
	
	<div style="width:300px">
		<h3>Try an example:</h3>
		<div class="col-md-6">
			<a href="./example/paul/?view=store">
				<span class="glyphicon glyphicon-user"></span> View as Paul
			</a>
		</div>
		<div class="col-md-6">
			<a href="./example/jessica/?view=store">
				<span class="glyphicon glyphicon-user"></span> View as Jessica
			</a>
		</div>
	</div>
</div>

</body>
</html>
