<%= include header %>
        <div class="" style="width:500px; margin: 0 auto;">
            <a href="/auth/facebook" class="signin-facebook" title="authenticate with Facebook">Log in with <strong>Facebook</strong></a>
        </div>
        
        <!--
a(href="" title="authenticate") Log in with facebook.
        - var url = req.user ? "/users/"+req.user.id : "/"
        a(href=url) Profile
        a(href="/logout") Log out
-->

        <div style="width:500px; margin: 0 auto;">
            <h3>Try an example:</h3>

            <div class="col-md-6">
                <a href="./example/paul/?view=store"><span class="glyphicon glyphicon-user"></span> Sign in as Paul</a>
            </div>

            <div class="col-md-6">
                <a href="./example/jessica/?view=store"><span class="glyphicon glyphicon-user"></span> Sign in as Jessica</a>
            </div>
        </div>
    </div>
    
    <%= include footer %>