doctype html
html
	head
		title=Welcome
	body
		a(href="/auth/facebook" title="authenticate") Log in with facebook.
		- var url = req.user ? "/users/"+req.user.id : "/"
		a(href=url) Profile
		a(href="/logout") Log out
